In [107]:
import pandas as pd
#use pandas read_csv to read matches.csv and saves into a variable called matches
matches = pd.read_csv('matches.csv')
print(matches.head())

   Unnamed: 0        date           time            comp        round  day  \
0           0  2020-09-21  20:15 (21:15)  Premier League  Matchweek 2  Mon
1           2  2020-09-27  16:30 (17:30)  Premier League  Matchweek 3  Sun
2           4  2020-10-03  17:30 (18:30)  Premier League  Matchweek 4  Sat
3           5  2020-10-17  17:30 (18:30)  Premier League  Matchweek 5  Sat
4           7  2020-10-24  12:30 (13:30)  Premier League  Matchweek 6  Sat

  venue result  gf  ga        opponent   xg  xga  poss  attendance  \
0  Away      W   3   1          Wolves  1.9  0.6    65         NaN
1  Home      L   2   5  Leicester City  0.9  2.9    72         NaN
2  Away      D   1   1    Leeds United  1.2  2.4    49         NaN
3  Home      W   1   0         Arsenal  1.3  0.9    58         NaN
4  Away      D   1   1        West Ham  1.0  0.3    69         NaN

           captain formation         referee  match report  notes  sh  sot  \
0      Fernandinho   4-2-3-1  Andre Marriner  Match Report    NaN  13    8
1      Fernandinho   4-2-3-1  Michael Oliver  Match Report    NaN  16    5
2  Kevin De Bruyne     4-3-3       Mike Dean  Match Report    NaN  23    1
3  Raheem Sterling   3-1-4-2  Chris Kavanagh  Match Report    NaN  13    5
4  Raheem Sterling     4-3-3  Anthony Taylor  Match Report    NaN  14    7

   dist  fk  pk  pkatt  season             team
0  21.1   2   1      1    2024  Manchester City
1  19.8   1   0      0    2024  Manchester City
2  18.2   1   0      0    2024  Manchester City
3  17.7   0   0      0    2024  Manchester City
4  20.9   1   0      0    2024  Manchester City

In [108]:
#This code renames multiple columns in the matches dataframe
matches = matches.rename(columns = {'Unnamed: 0': 'Match ID', 'gf': 'Goals For',
                                    'ga': 'Goals Against', 'sh': 'Shots',
                                    'sot': 'Shot on target', 'dist': 'Distance'})
pd.set_option('display.max_columns', None)
print(matches.head())

   Match ID        date           time            comp        round  day  \
0         0  2020-09-21  20:15 (21:15)  Premier League  Matchweek 2  Mon
1         2  2020-09-27  16:30 (17:30)  Premier League  Matchweek 3  Sun
2         4  2020-10-03  17:30 (18:30)  Premier League  Matchweek 4  Sat
3         5  2020-10-17  17:30 (18:30)  Premier League  Matchweek 5  Sat
4         7  2020-10-24  12:30 (13:30)  Premier League  Matchweek 6  Sat

  venue result  Goals For  Goals Against        opponent   xg  xga  poss  \
0  Away      W          3              1          Wolves  1.9  0.6    65
1  Home      L          2              5  Leicester City  0.9  2.9    72
2  Away      D          1              1    Leeds United  1.2  2.4    49
3  Home      W          1              0         Arsenal  1.3  0.9    58
4  Away      D          1              1        West Ham  1.0  0.3    69

   attendance          captain formation         referee  match report  notes  \
0         NaN      Fernandinho   4-2-3-1  Andre Marriner  Match Report    NaN
1         NaN      Fernandinho   4-2-3-1  Michael Oliver  Match Report    NaN
2         NaN  Kevin De Bruyne     4-3-3       Mike Dean  Match Report    NaN
3         NaN  Raheem Sterling   3-1-4-2  Chris Kavanagh  Match Report    NaN
4         NaN  Raheem Sterling     4-3-3  Anthony Taylor  Match Report    NaN

   Shots  Shot on target  Distance  fk  pk  pkatt  season             team
0     13               8      21.1   2   1      1    2024  Manchester City
1     16               5      19.8   1   0      0    2024  Manchester City
2     23               1      18.2   1   0      0    2024  Manchester City
3     13               5      17.7   0   0      0    2024  Manchester City
4     14               7      20.9   1   0      0    2024  Manchester City

In [109]:
"""Looking closer at the Match ID column, it only has 182 unique values which should not be.
The Match IDs should be unique meaning 4788 unique values.
This means a lot of the IDs where used multiple times to represent games played, so I will have to remove that column completely and use the index as ID.
"""
#Remove Match ID from matches dataframe
matches = matches.drop('Match ID', axis = 1)
#Name the index Match ID
matches.index.name = 'Match ID'
print(matches.head())

                date           time            comp        round  day venue  \
Match ID
0         2020-09-21  20:15 (21:15)  Premier League  Matchweek 2  Mon  Away
1         2020-09-27  16:30 (17:30)  Premier League  Matchweek 3  Sun  Home
2         2020-10-03  17:30 (18:30)  Premier League  Matchweek 4  Sat  Away
3         2020-10-17  17:30 (18:30)  Premier League  Matchweek 5  Sat  Home
4         2020-10-24  12:30 (13:30)  Premier League  Matchweek 6  Sat  Away

         result  Goals For  Goals Against        opponent   xg  xga  poss  \
Match ID
0             W          3              1          Wolves  1.9  0.6    65
1             L          2              5  Leicester City  0.9  2.9    72
2             D          1              1    Leeds United  1.2  2.4    49
3             W          1              0         Arsenal  1.3  0.9    58
4             D          1              1        West Ham  1.0  0.3    69

          attendance          captain formation         referee  match report  \
Match ID
0                NaN      Fernandinho   4-2-3-1  Andre Marriner  Match Report
1                NaN      Fernandinho   4-2-3-1  Michael Oliver  Match Report
2                NaN  Kevin De Bruyne     4-3-3       Mike Dean  Match Report
3                NaN  Raheem Sterling   3-1-4-2  Chris Kavanagh  Match Report
4                NaN  Raheem Sterling     4-3-3  Anthony Taylor  Match Report

          notes  Shots  Shot on target  Distance  fk  pk  pkatt  season  \
Match ID
0           NaN     13               8      21.1   2   1      1    2024
1           NaN     16               5      19.8   1   0      0    2024
2           NaN     23               1      18.2   1   0      0    2024
3           NaN     13               5      17.7   0   0      0    2024
4           NaN     14               7      20.9   1   0      0    2024

                     team
Match ID
0         Manchester City
1         Manchester City
2         Manchester City
3         Manchester City
4         Manchester City

In [110]:
#This code changes the data types of season to string
matches['season'] = matches['season'].astype(str)
#The code below changes the data type of column 'date' to datetime
matches['date'] = pd.to_datetime(matches['date'])
print(matches.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4788 non-null   datetime64[ns]
 1   time            4788 non-null   object
 2   comp            4788 non-null   object
 3   round           4788 non-null   object
 4   day             4788 non-null   object
 5   venue           4788 non-null   object
 6   result          4788 non-null   object
 7   Goals For       4788 non-null   int64
 8   Goals Against   4788 non-null   int64
 9   opponent        4788 non-null   object
 10  xg              4788 non-null   float64
 11  xga             4788 non-null   float64
 12  poss            4788 non-null   int64
 13  attendance      3155 non-null   float64
 14  captain         4788 non-null   object
 15  formation       4788 non-null   object
 16  referee         4788 non-null   object
 17  match report    4788 non-null   object
 18  notes           0 non-null      float64
 19  Shots           4788 non-null   int64
 20  Shot on target  4788 non-null   int64
 21  Distance        4786 non-null   float64
 22  fk              4788 non-null   int64
 23  pk              4788 non-null   int64
 24  pkatt           4788 non-null   int64
 25  season          4788 non-null   object
 26  team            4788 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(8), object(13)
memory usage: 1010.1+ KB
None

In [111]:
#saves the attendance column and values to a variable called attendance
attendance = matches['attendance']
#This code fills all the nan values with the mean of the total values
attendance = attendance.fillna(attendance.mean())
print(attendance.head())

Match ID
0    38397.586688
1    38397.586688
2    38397.586688
3    38397.586688
4    38397.586688
Name: attendance, dtype: float64

In [112]:
"""
Looking at the data I noticed a lot of duplicate values that will affect analysis- season 2024 contains values that are for season 2021
There are no duplicate values in this dataframe because the season values are different,
but there are rows that still need to be removed cause they are incorrect.
"""
#This code drops all rows that have the same values except the season column and only keeps the last occurence.
matches = matches.drop_duplicates(subset = matches.columns.difference(['season']), keep = 'last')
print(matches.head())

               date           time            comp        round  day venue  \
Match ID
988      2023-08-11  20:00 (22:00)  Premier League  Matchweek 1  Fri  Away
989      2023-08-19  20:00 (22:00)  Premier League  Matchweek 2  Sat  Home
990      2023-08-27  14:00 (16:00)  Premier League  Matchweek 3  Sun  Away
991      2023-09-02  15:00 (17:00)  Premier League  Matchweek 4  Sat  Home
992      2023-09-16  15:00 (17:00)  Premier League  Matchweek 5  Sat  Away

         result  Goals For  Goals Against       opponent   xg  xga  poss  \
Match ID
988           W          3              0        Burnley  1.9  0.3    65
989           W          1              0  Newcastle Utd  1.0  0.3    59
990           W          2              1  Sheffield Utd  3.5  0.7    79
991           W          5              1         Fulham  2.2  1.4    68
992           W          3              1       West Ham  3.6  0.9    68

          attendance          captain formation         referee  match report  \
Match ID
988          21572.0  Kevin De Bruyne   4-2-3-1    Craig Pawson  Match Report
989          53419.0      Kyle Walker   4-2-3-1    Robert Jones  Match Report
990          31336.0      Kyle Walker   4-2-3-1  Jarred Gillett  Match Report
991          52899.0      Kyle Walker   4-2-3-1  Michael Oliver  Match Report
992          62475.0      Kyle Walker   4-2-3-1     Andy Madley  Match Report

          notes  Shots  Shot on target  Distance  fk  pk  pkatt season  \
Match ID
988         NaN     17               8      13.9   0   0      0   2024
989         NaN     14               4      17.9   0   0      0   2024
990         NaN     29               9      17.3   2   0      1   2024
991         NaN      6               4      14.8   0   1      1   2024
992         NaN     29              13      16.4   1   0      0   2024

                     team
Match ID
988       Manchester City
989       Manchester City
990       Manchester City
991       Manchester City
992       Manchester City

In [113]:
#Saves the cleaned match data into a csv called matches_cleaned
matches.to_csv('matches_cleaned.csv')

In [114]:
#Find out how many wins, draws, and losses each team has.
def result_count(df):
#The code below filters the dataset to only show the team column
    teams = df['team'].unique()
#Loop through the unique teams list
    for team in teams:
#Create three variables to keep track of each team's wins, draws, and losses
        wins = 0
        draws = 0
        losses = 0
#Filter the df to show only the rows of the team being looped and save it to a variable called 'team_df'
        team_df = df[df['team'] == team]
#Filter team_df to only show the results
        results = team_df['result']
#Loop through the results dataframe and depending on what the result is, add it to wins, draws, and losses variable
        for result in results:
            if result == 'W':
                wins += 1
            elif result == 'D':
                draws += 1
            elif result == 'L':
                losses += 1
        print(team, "has ", wins, " wins, ", draws, " draws, and ", losses, " losses. ")

result_count(matches)

Manchester City has  138  wins,  26  draws, and  26  losses.
Arsenal has  108  wins,  35  draws, and  47  losses.
Liverpool has  123  wins,  40  draws, and  27  losses.
Aston Villa has  76  wins,  36  draws, and  78  losses.
Tottenham Hotspur has  94  wins,  36  draws, and  60  losses.
Chelsea has  89  wins,  47  draws, and  54  losses.
Newcastle United has  73  wins,  50  draws, and  67  losses.
Manchester United has  96  wins,  45  draws, and  49  losses.
West Ham United has  70  wins,  42  draws, and  78  losses.
Crystal Palace has  58  wins,  55  draws, and  77  losses.
Brighton and Hove Albion has  60  wins,  63  draws, and  67  losses.
Bournemouth has  33  wins,  22  draws, and  59  losses.
Fulham has  33  wins,  28  draws, and  53  losses.
Wolverhampton Wanderers has  66  wins,  44  draws, and  80  losses.
Everton has  62  wins,  45  draws, and  83  losses.
Brentford has  38  wins,  30  draws, and  46  losses.
Nottingham Forest has  18  wins,  20  draws, and  38  losses.
Luton Town has  6  wins,  8  draws, and  24  losses.
Burnley has  37  wins,  41  draws, and  74  losses.
Sheffield United has  24  wins,  21  draws, and  69  losses.
Leicester City has  61  wins,  31  draws, and  60  losses.
Leeds United has  34  wins,  26  draws, and  54  losses.
Southampton has  42  wins,  34  draws, and  76  losses.
Watford has  14  wins,  15  draws, and  47  losses.
Norwich City has  10  wins,  13  draws, and  53  losses.
West Bromwich Albion has  5  wins,  11  draws, and  22  losses.

In [115]:
""""
The last code block shows each teams win, draw, loss count.
Now, I want to only show the team with the most wins, draws, or losses depending on what the user input is.
"""
def highest_result(df):
    print("Enter W or D or L. Do not press enter after input. Just tap okay.")
    result = input()
#Filter the dataframe to only show input result
    result_df = df[df['result'] == result]
#Create an empty dictionary called team_result to store the team and their result count
    team_result = {}
#Loop through the unique teams
    for team in result_df['team'].unique():
#Create count_result to store the total result for each team
        count_result = 0
        count_result = result_df[result_df['team'] == team]['result'].count()
#Adds the team and the respective result count to team_result
        team_result[team] = count_result
#Get the key with the maximum value
    max_team = max(team_result, key = team_result.get)
    max_result = team_result[max_team]
#output different results depending on the input
    if result == 'W':
        print(max_team, 'has the most wins of', max_result)
    elif result == 'D':
        print(max_team, 'has the most draws of', max_result)
    elif result == 'L':
        print(max_team, 'has the most losses of', max_result)
highest_result(matches)
#With this code, you can find out which team has the most wins, draws, and losses, but i want to know these results adding the season to the mix

Enter W or D or L. Do not press enter after input. Just tap okay.
Manchester City has the most wins of 138

In [116]:
#Find out the team with most wins, draws, or losses in each season:
def most_result_per_season(df):
    print("Enter W or D or L. Do not press enter after input. Just tap okay.")
    result = input()
#Filter the dataframe to only show input result
    result_df = df[df['result'] == result]
#Get the unique seasons
    for season in result_df['season'].unique():
        team_result = {} #create a dictionary called team_result to store the team and result
#Filter result_df to show only the rows with the specific season
        season_df = result_df[result_df['season'] == season]
        for team in season_df['team'].unique(): #loop through the unique teams in season_df
#Create count_result to store the total result for each team
            count_result = 0
            count_result = season_df[season_df['team'] == team]['result'].count()
#Adds the team and the respective result count to team_result
            team_result[team] = count_result
#Get the key with the maximum value
        max_team = max(team_result, key = team_result.get)
        max_result = team_result[max_team]
#output different results depending on the input
        if result == 'W':
            print('In the', season, 'season', max_team, 'has the most wins of', max_result)
        elif result == 'D':
            print('In the', season, 'season', max_team, 'has the most draws of', max_result)
        elif result == 'L':
            print('In the', season, 'season', max_team, 'has the most losses of', max_result)

most_result_per_season(matches)

Enter W or D or L. Do not press enter after input. Just tap okay.
In the 2024 season Manchester City has the most wins of 28
In the 2023 season Manchester City has the most wins of 28
In the 2022 season Manchester City has the most wins of 29
In the 2021 season Manchester City has the most wins of 27
In the 2020 season Liverpool has the most wins of 32

In [117]:
#I want to know each teams win, draw, and loss for each season
def results_per_season(df):
#Loop through the unique season values
    for season in df['season'].unique():
        print('\n')
        print(season, 'season:')
#Filter df to show only rows that have the specific season and save it in season_df
        season_df = df[df['season'] == season]
#Find the unique teams in season_df and loop through them
        for team in season_df['team'].unique():
#Create three variables to store the count of wins, draws, and losses for each team
            wins = 0
            draws = 0
            losses = 0
#Filter the season_df to show only rows with a specific team and save it in team_df
            team_df = season_df[season_df['team'] == team]
#Loop through the result column values of team_df
            for result in team_df['result'].values:
                if result == 'W':
                    wins += 1
                elif result == 'D':
                    draws += 1
                elif result == 'L':
                    losses += 1
            print(team, 'had', wins, 'wins', draws, 'draws', losses, 'losses.')
results_per_season(matches)

2024 season:
Manchester City had 28 wins 7 draws 3 losses.
Arsenal had 28 wins 5 draws 5 losses.
Liverpool had 24 wins 10 draws 4 losses.
Aston Villa had 20 wins 8 draws 10 losses.
Tottenham Hotspur had 20 wins 6 draws 12 losses.
Chelsea had 18 wins 9 draws 11 losses.
Newcastle United had 18 wins 6 draws 14 losses.
Manchester United had 18 wins 6 draws 14 losses.
West Ham United had 14 wins 10 draws 14 losses.
Crystal Palace had 13 wins 10 draws 15 losses.
Brighton and Hove Albion had 12 wins 12 draws 14 losses.
Bournemouth had 13 wins 9 draws 16 losses.
Fulham had 13 wins 8 draws 17 losses.
Wolverhampton Wanderers had 13 wins 7 draws 18 losses.
Everton had 13 wins 9 draws 16 losses.
Brentford had 10 wins 9 draws 19 losses.
Nottingham Forest had 9 wins 9 draws 20 losses.
Luton Town had 6 wins 8 draws 24 losses.
Burnley had 5 wins 9 draws 24 losses.
Sheffield United had 3 wins 7 draws 28 losses.


2023 season:
Manchester City had 28 wins 5 draws 5 losses.
Arsenal had 26 wins 6 draws 6 losses.
Manchester United had 23 wins 6 draws 9 losses.
Newcastle United had 19 wins 14 draws 5 losses.
Liverpool had 19 wins 10 draws 9 losses.
Brighton and Hove Albion had 18 wins 8 draws 12 losses.
Aston Villa had 18 wins 7 draws 13 losses.
Tottenham Hotspur had 18 wins 6 draws 14 losses.
Brentford had 15 wins 14 draws 9 losses.
Fulham had 15 wins 7 draws 16 losses.
Crystal Palace had 11 wins 12 draws 15 losses.
Chelsea had 11 wins 11 draws 16 losses.
Wolverhampton Wanderers had 11 wins 8 draws 19 losses.
West Ham United had 11 wins 7 draws 20 losses.
Bournemouth had 11 wins 6 draws 21 losses.
Nottingham Forest had 9 wins 11 draws 18 losses.
Everton had 8 wins 12 draws 18 losses.
Leicester City had 9 wins 7 draws 22 losses.
Leeds United had 7 wins 10 draws 21 losses.
Southampton had 6 wins 7 draws 25 losses.


2022 season:
Manchester City had 29 wins 6 draws 3 losses.
Liverpool had 28 wins 8 draws 2 losses.
Chelsea had 21 wins 11 draws 6 losses.
Tottenham Hotspur had 22 wins 5 draws 11 losses.
Arsenal had 22 wins 3 draws 13 losses.
Manchester United had 16 wins 10 draws 12 losses.
West Ham United had 16 wins 8 draws 14 losses.
Leicester City had 14 wins 10 draws 14 losses.
Brighton and Hove Albion had 12 wins 15 draws 11 losses.
Wolverhampton Wanderers had 15 wins 6 draws 17 losses.
Newcastle United had 13 wins 10 draws 15 losses.
Crystal Palace had 11 wins 15 draws 12 losses.
Brentford had 13 wins 7 draws 18 losses.
Aston Villa had 13 wins 6 draws 19 losses.
Southampton had 9 wins 13 draws 16 losses.
Everton had 11 wins 6 draws 21 losses.
Leeds United had 9 wins 11 draws 18 losses.
Burnley had 7 wins 14 draws 17 losses.
Watford had 6 wins 5 draws 27 losses.
Norwich City had 5 wins 7 draws 26 losses.


2021 season:
Manchester City had 27 wins 5 draws 6 losses.
Manchester United had 21 wins 11 draws 6 losses.
Liverpool had 20 wins 9 draws 9 losses.
Chelsea had 19 wins 10 draws 9 losses.
Leicester City had 20 wins 6 draws 12 losses.
West Ham United had 19 wins 8 draws 11 losses.
Tottenham Hotspur had 18 wins 8 draws 12 losses.
Arsenal had 18 wins 7 draws 13 losses.
Leeds United had 18 wins 5 draws 15 losses.
Everton had 17 wins 8 draws 13 losses.
Aston Villa had 16 wins 7 draws 15 losses.
Newcastle United had 12 wins 9 draws 17 losses.
Wolverhampton Wanderers had 12 wins 9 draws 17 losses.
Crystal Palace had 12 wins 8 draws 18 losses.
Southampton had 12 wins 7 draws 19 losses.
Brighton and Hove Albion had 9 wins 14 draws 15 losses.
Burnley had 10 wins 9 draws 19 losses.
Fulham had 5 wins 13 draws 20 losses.
West Bromwich Albion had 5 wins 11 draws 22 losses.
Sheffield United had 7 wins 2 draws 29 losses.


2020 season:
Liverpool had 32 wins 3 draws 3 losses.
Manchester City had 26 wins 3 draws 9 losses.
Manchester United had 18 wins 12 draws 8 losses.
Chelsea had 20 wins 6 draws 12 losses.
Leicester City had 18 wins 8 draws 12 losses.
Tottenham Hotspur had 16 wins 11 draws 11 losses.
Wolverhampton Wanderers had 15 wins 14 draws 9 losses.
Arsenal had 14 wins 14 draws 10 losses.
Sheffield United had 14 wins 12 draws 12 losses.
Burnley had 15 wins 9 draws 14 losses.
Southampton had 15 wins 7 draws 16 losses.
Everton had 13 wins 10 draws 15 losses.
Newcastle United had 11 wins 11 draws 16 losses.
Crystal Palace had 11 wins 10 draws 17 losses.
Brighton and Hove Albion had 9 wins 14 draws 15 losses.
West Ham United had 10 wins 9 draws 19 losses.
Aston Villa had 9 wins 8 draws 21 losses.
Bournemouth had 9 wins 7 draws 22 losses.
Watford had 8 wins 10 draws 20 losses.
Norwich City had 5 wins 6 draws 27 losses.